<div class="add-product">
    <h1 mat-dialog-title>Add new product </h1>
    <div mat-dialog-content>
        <form  [formGroup]="form">
            <div class="example-container">
                <div>
                    <span style="color:red;" *ngIf="message">{{message}}</span>
                    <input #file type="file" formControlName="thumbnailUrl" style="display:none" name="thumbnailUrl" [(ngModel)]="thumbnailUrl"
                        accept='image/*' (change)="preview(file.files)" />
                    <img [src]="product.thumbnailUrl" aTilt 
                    [tiltSettings]="tiltSettings" (click)="file.click()">
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" maxlength="50" name="name" [(ngModel)]="product.name" formControlName="name">
                        <mat-error *ngIf="name.invalid">
                            Name field
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <input matInput type="text" maxlength="150" name="description" [(ngModel)]="product.description"
                        formControlName="description">
                        <mat-error *ngIf="description.invalid">
                            Description field
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>creationDate</mat-label>
                        <input matInput type="date" maxlength="150" name="creationDate" [(ngModel)]="product.creationDate" formControlName="creationDate">
                        <mat-error *ngIf="creationDate.invalid">
                            Date field
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Price</mat-label>
                        <input matInput type="number" min="0" name="price" [(ngModel)]="product.price" formControlName="price">
                        <mat-error *ngIf="price.invalid">
                            Name field
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button class="btn-close" (click)="close()">Close</button>
        <button mat-raised-button class="btn-add" [disabled]="!form.valid" (click)="addProduct()">Add</button>
    </div>
</div>