<app-navbar></app-navbar>

<div class="container">
    <div>
        <div class="add-product">
            <button mat-raised-button class="btn-add" (click)="openDialogAdd()">+ Add</button>
        </div>

        <div class="search-product">
            <mat-form-field>
                <input matInput name="bookName" [(ngModel)]="productName" placeholder="asearch product">
            </mat-form-field>
        </div>

        <div class="sort-product">
            <mat-form-field>
                <mat-label>Sort by</mat-label>
                <select matNativeControl [(ngModel)]="sortType">
                    <option value="1">Price</option>
                    <option value="2">Name</option>
                </select>
            </mat-form-field>
        </div>
    </div>

    <label *ngIf="products == 0">No data to display</label>
    <div class="products">
        <div class="products-list" >
            <app-product *ngFor="let product of products | filterProducts: productName | sortProducts: sortType | paginate: { itemsPerPage: 5, currentPage: pageIndex }"
                [product]="product" (details)="showMoreDetails(product)" (remove)="deleteProduct($event)">
            </app-product>
        </div>

        <div class="product-details" *ngIf="productSelected">
            <app-product-details [product]="productSelected" [showDetails]="showDetails" (save)="saveDetails($event)">
            </app-product-details>
        </div>
    </div>

    <mat-paginator 
        [length]="products?.length" 
        [pageSize]="5" 
        (page)="pageEvent($event)">
    </mat-paginator>
</div>